* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

.navbar {
    /* border: 1px solid black; */
    height: 60px;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px #E3E3EB;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-left .logo {
    font-size: 40px;
}

.search {
    height: 40px;
    width: 300px;
    padding: 10px;
    /* border: 1px solid black;   */
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #F1F2F6;
    font-size: 15px;
}

.search input {
    background-color: #F1F2F6;
    border: none;
    font-size: 15px;
    height: 40px;
    width: 300px;
    outline: none;
    border-radius: 20px;
    color: #A3A8AE;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.nav-mid {
    display: flex;
}

.icon {
    font-size: 25px;
    display: flex;
    gap: 100px;
}

.nav-right {
    display: flex;
    /* align-items: center; */
    gap: 30px;
}

.nav-right p {
    font-weight: 500;
}

.profile {
    display: flex;
    align-items: center;
    gap: 5px;
}

.profile p {
    font-size: 15px;
}

.profile img {
    height: 40px;
    width: auto;
}

.setting {
    display: flex;
    align-items: center;
    gap: 10px;
}

.setting a {
    height: 40px;
    width: 40px;
    background-color: #EAEBEF;
    font-size: 20px;
    /* border: 1px solid black; */
    border-radius: 50%;
    padding: 7px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.content {
    display: flex;
}

.sidebar {
    height: 100%;
    width: 425px;
    display: flex;
    flex-direction: column;
    background-color: #F3F4F6;
}

.side-top {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.prof {
    /* display: flex; */
    /* align-items: center; */
    /* gap: 5px; */
}

.prof a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    gap: 5px;
    font-size: 17px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 500;
}

.prof img {
    height: 50px;
    width: auto;
}

.side-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list {
    align-items: center;
    padding: 5px;
}

.list i {
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.list a {
    font-size: 17px;
    color: black;
    text-decoration: none;
    display: flex;
    gap: 15px;
    align-items: center;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 500;
}

.list-btn {
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #E5E6EA;
    font-size: 15px;
    /* font-family: "Segoe UI", Arial, sans-serif; */
    font-weight: 500;
}

.list-down {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}

.list2 {
    display: flex;
    align-items: center;
    gap: 10px;
    /* font-family: "Segoe UI", Arial, sans-serif; */
    font-weight: 500;
}

.list2 img {
    border: none;
    border-radius: 10px;
    height: 35px;
}

.content-mid

.story {
    display: flex;
    gap: 10px;
    /* padding: 20px; */
    /* flex-direction: column; */
    /* background-color: #F3F4F6; */
}

.box1 {
    border: 1px solid black;
    height: 200px;
    width: 125px;
    background-image: url(/Assets/profile\ photo.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.box1 i {
    border: 3px solid white;
    border-radius: 50%;
    background-color: black;  
}

.story-profile i {
    /* height: 200px; */
}